body {
	margin: 0px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	background-color: #fcfcfc;
	color: #444444;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

h1 {
	font-weight: 100;
	font-size: 50px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

div.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Trifold objects. */

div.trifold {
	font-size: 0px;
	letter-spacing: 0px;
}

div.trifold div.cell {
	display: inline-block;
	width: 27%;
	min-height: 100%;
	padding: 0px 3%;
	vertical-align: top;
}

div.trifold div.cell p:first-of-type {
	margin: 10px 0px;
	font-size: 18px;
}

div.trifold div.cell p:not(:first-of-type) {
	font-size: 14px;
	line-height: 24px;
	text-align: left;
}

/* Page sections. */

div.cont-section {
	position: absolute;
	width: 60%;
	padding: 0px 20%;
	z-index: 2;
}

div.cont-section hr {
	margin: 0px auto;
}

div.cont-section h1.title {
	margin: 40px 0px 20px 0px;
}

/* Intro section. */

div#intro {
	background: center fixed no-repeat url("/cdn/img/background.jpg");
	background-size: cover;
}

div#intro-overlay {
	display: none;
	background-color: #ca7b88;
	opacity: 0.6;
	transition: background-color 7.5s;
}

div#intro-cont {
	position: absolute;
	z-index: 1;
}

div#intro-cont h1, div#intro-cont h3 {
	color: #ffffff;
}

div#intro-cont h1 {
	font-size: 75px;
	font-weight: 500;
}

div#intro-cont h3 {
	font-family: "uppercase";
	font-weight: 100;
}

/* About Me section. */

div.cont-section#about-me > p:first-of-type {
	margin: 40px 0px 30px 0px;
	font-size: 20px;
	line-height: 30px;
}

div.cont-section#about-me > p:not(first-of-type) {
	margin: 30px 0px;
	font-size: 16px;
}

/* Handle mobile changes. */

@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 568px) 
	and (orientation : portrait)
{

	div.cover-m {
		min-height: auto !important;
	}

	div.cont-section {
		width: 88%;
		padding: 0px 6% 6% 6%;
	}
	
	div.cont-section hr {
		width: 85%;
	}

}

@media only screen 
	and (min-device-width : 640px) 
	and (max-device-width : 1136px) 
	and (orientation : portrait)
{

	div.cover-m {
		min-height: auto !important;
	}

	div.cont-section {
		width: 88%;
		padding: 0px 6% 6% 6%;
	}
	
	div.cont-section hr {
		width: 85%;
	}

}