body {
	margin: 0px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	background-color: #eeeeee;
	color: #444444;
	opacity: 0;
	transition: opacity 0.5s;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

h1 {
	font-weight: 100;
	font-size: 50px;
}

a {
	color: inherit;
	text-decoration: none;
} 

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

div.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

div.accent {
	background-color: #ca7b88;
}

.stroked {
	-webkit-text-stroke: 2px #333333;
}

/* Trifolds */

div.trifold {
	display: inline-block;
	width: 100%;
	padding-top: 3%;
	letter-spacing: 0px;
}

div.trifold div.cell {
	display: inline-block;
	width: 27%;
	min-height: 100%;
	float: left;
	padding: 0px 3%;
	vertical-align: top;
}

/* Page sections */

div.cont-section {
	width: 60%;
	padding: 40px 20%;
	z-index: 2;
}

div.cont-section hr {
	position: relative;
	margin: 0px auto;
	border: 0px solid #555;
	border-top-width: 2px;
}

div.cont-section hr:after {
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
	content: "\f111";
	font-family: FontAwesome;
	font-size: 12px;
}

div.cont-section h1.title {
	margin-bottom: 40px;
	color: #fcfcfc;
	font-family: "uppercase";
}

/* Intro section */

div#intro {
	background: center fixed no-repeat url("../img/background-1.jpg");
	background-size: cover;
}

div#intro-overlay {
	display: none;
	opacity: 0.6;
	transition: background-color 7.5s;
}

div#intro-cont {
	position: absolute;
	top: 8%;
	z-index: 1;
	color: #fafafa;
	font-family: "uppercase";
}

div#intro-cont span {
	font-size: 3rem;
	font-weight: 500;
}

div#intro-cont span span {
	font-size: 4rem;
	font-style: normal;
}

div#intro-cont h3 {
	font-weight: 100;
}

/* Portfolio section */

ol.portfolio-list {
	display: flex;
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
    flex-wrap: wrap;
}

ol.portfolio-list li {
	width: 39%;
    margin: 0px 5% 5% 5%;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    text-align: left;
}

ol.portfolio-list li div {
	display: flex;
    padding: 16px;
    margin: 0px;
    position: relative;
}

ol.portfolio-list div.inner {
	display: inline-grid;
}

ol.portfolio-list div.inner a {
	margin-bottom: 5px;
    color: #0366d6;
    text-decoration: none;
}

ol.portfolio-list div.inner p {
	margin: 0px;
}

/* Contact section */

div.cont-section#contact h1.title {
	color: #303030;
}

div.cont-section#contact {
	background-color: #dddddd;
}

div#info-cont div.trifold div.cell {
	margin-bottom: 3%;
}

div#info-cont div.trifold div.cell:nth-last-child(-n+3) {
	margin-bottom: 0px;
}

div#info-cont span.media {
	display: inline-table;
	width: 50%;
	background-color: #666666;
	font-size: 50px;
	color: #ffffff;
	cursor: pointer;
	border-radius: 50%;
	opacity: 0.5;
	transition: color 0.5s, opacity 0.5s, background-color 7.5s;
}

div#info-cont span.media:hover {
	opacity: 1;
}

div#info-cont span.media i {
	display: table-cell;
	vertical-align: middle;
}

/* Handle mobile changes */

@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 568px) 
	and (orientation : portrait)
{

	div.cover-m {
		min-height: auto !important;
	}

	div.cont-section {
		width: 88%;
		padding: 6%;
	}
	
	div.cont-section hr {
		width: 85%;
	}

}

@media only screen 
	and (min-device-width : 640px) 
	and (max-device-width : 1136px) 
	and (orientation : portrait)
{

	div.cover-m {
		min-height: auto !important;
	}

	div.cont-section {
		width: 88%;
		padding: 6%;
	}
	
	div.cont-section hr {
		width: 85%;
	}

}
