body {
	display: none;
	margin: 0px;
	padding: 0px;
	background-color: #93a1b4;
	color: #0b2327;
	font-family: "Quicksand";
}

a {
	color: #55667d;
	text-decoration: none;
	transition: color 0.25s;
}

a:hover {
	color: #98021f;
}

div#currbg, div#nextbg {
	position: absolute;
	width: 100%;
	height: 100%;

	background-image: url("/cdn/img/background0.jpg");
	background-size: cover;
    background-attachment: fixed;
    background-position: center center;

	@media (max-width: @iphone-screen) {
		background-attachment: scroll;
	}
}

div#nextbg {
	z-index: 0;
}

div#currbg {
	z-index: 1;
}

div#content {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

div.header {
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100px;
	z-index: 100;
	background-color: #ffffff;
}

div.header div#inner-cont {
	height: 30px;
	padding: 35px 100px;
}

div.header div#inner-cont span {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0px 10px;
	line-height: 30px;
	font-size: 30px;
}

div.header div#inner-cont span {
	float: left;
}

div.header div#inner-cont span#twitter {
	float: right;
}

div#main-content {
	width: 100%;
	padding-top: 150px;
}

div#intro-cont {
	display: table;
	width: 50%;
	margin: 0px auto;
	background-color: #ffffff;
	border: 3px solid;
	border-color: #000000;
	border-radius: 8px;
	transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}

div#intro-cont div#name {
	text-align: center;
}

div#intro-cont div#tagline {
	text-align: center;
	background-color: #98021f;
	border-radius: 4px;
	color: #ffffff;
	transition: background-color 0.25s, color 0.25s;
}

div#intro-cont div#tagline table#jobs {
	width: 100%;
	height: 100%;
	padding: 0px;
	border-spacing: 0px;
}

div#intro-cont div#tagline table#jobs td {
	width: 33%;
	padding: 0px;
}

div#intro-cont div#tagline table#jobs td p {
	display: inline-block;
	margin-top: 24px;
	font-size: 18px;
	font-weight: bold;
}