* {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #bbd4d4;
	color: #1d4e4e;
	font-family: "Quicksand";
}

a {
	color: #1d4e4e;
	text-decoration: none;
}

div.header {
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100px;
	z-index: 100;
	background-color: #ffffff;
}

div.header div#inner-cont {
	height: 30px;
	padding: 35px 100px;
}

div.header div#inner-cont span {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0px 10px;
	line-height: 30px;
	font-size: 30px;
}

div.header div#inner-cont span {
	float: left;
}

div.header div#inner-cont span#twitter {
	float: right;
}

div#main-content {
	width: 100%;
	padding-top: 150px;
}

div#main-content div#scene-cont {
	display: none;
}

div#main-content div#scene-cont h2#scene-title, h2#pay-liner {
	text-align: center;
	font-size: 25px;
}

div#main-content div#scene-cont div#iphone-types {
	width: 1000px;
	margin: 50px auto;
}

div#main-content div#scene-cont div#iphone-types div.phone {
	display: inline-block;
	height: 240px;
	margin: 0px 6px;
	border-radius: 10px;
}

div#main-content div#scene-cont div#iphone-types div.phone:hover {
	background-color: #99bebe;
}

div#main-content div#scene-cont div#iphone-types div.phone img {
	display: block;
	height: 200px;
	margin: auto;
	padding: 20px;
}

div#main-content div#scene-cont div#iphone-sizes {
	width: 1000px;
	margin: 50px auto;
}

div#main-content div#scene-cont div#iphone-sizes div.size-cont {
	display: none;
}

div#main-content div#scene-cont div#iphone-sizes div.size-cont div.gb-cont {
	display: inline-block;
	width: 33%;
}

div#main-content div#scene-cont div#iphone-sizes div.size-cont div.gb-cont span {
	display: block;
	width: 200px;
	height: 80px;
	margin: auto;
	background-color: #ffffff;
	line-height: 80px;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
	transition: background-color 0.5s;
}

div#main-content div#scene-cont div#iphone-sizes div.size-cont div.gb-cont span:hover {
	background-color: #eeeeee;
}

div#main-content div#scene-cont div#iphone-conditions {
	display: none;
	width: 1000px;
	margin: 50px auto;
}

div#main-content div#scene-cont div#iphone-conditions div.cond-cont {
	display: inline-block;
	width: 33%;
}

div#main-content div#scene-cont div#iphone-conditions div.cond-cont span {
	display: block;
	width: 200px;
	height: 80px;
	margin: auto;
	background-color: #ffffff;
	line-height: 80px;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
	transition: background-color 0.5s;
}

div#main-content div#scene-cont div#iphone-conditions div.cond-cont span:hover {
	background-color: #eeeeee;
}

div#main-content div#scene-cont div#iphone-conditions div.cond-cont span sup {
	line-height: 0px;
	font-size: 14px;
}

div#main-content div#scene-cont div#iphone-conditions div#conditions {
	margin: 50px;
}

div#main-content div#scene-cont div#iphone-conditions div#conditions span {
	display: block;
	width: 100%;
	margin: 5px;
	font-size: 12px;
}

div#main-content div#scene-cont div#iphone-conditions div#conditions span sup {
	display: inline-block;
    width: 10px;
    text-align: center;
}

div#main-content div#scene-cont div#confirmation {
	display: none;
	width: 1000px;
	margin: 50px auto;
}

div#main-content div#scene-cont div#confirmation div {
	display: inline-block;
	width: 33%;
	text-align: center;
}

div#main-content div#scene-cont div#confirmation div.conf-info span {
	display: block;
	width: 200px;
	height: 80px;
	margin: auto;
	background-color: #ffffff;
	line-height: 80px;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
}

div#main-content div#scene-cont div#confirmation div#continue {
	width: 100%;
	margin: 50px 0px;
	text-align: center;
}

div#main-content div#scene-cont div#confirmation div#continue a#next-button {
	display: inline-block;
	margin: 0px;
	padding: 12px 24px;
	vertical-align: middle;
	background-color: #1d9d74;
	border: 2px solid transparent;
	border-color: #198764;
	border-radius: 8px;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	line-height: 4px;
	cursor: pointer;
}

div#main-content div#scene-cont div#confirmation h2#pay-liner {
	margin: 50px 0px;
}

div#main-content div#scene-cont div#confirmation div#value {
	margin: 0px 33.5%;
}