body {
	display: block;
	color: rgb(255, 255, 255);
}

div#content {
	height: 100%;
}

div#main-content {
	display: none;
}

div#main-content h1#num {
	display: block;
	margin: 0px auto;
	text-align: center;
	font-size: 200px;
	transition: color 5s;
}

div#main-content p {
	margin-top: 5px;
	text-align: center;
	font-size: 20px;
}

div#main-content div#bot {
	position: absolute;
	width: 614px;
	padding-bottom: 50px;
	right: 50px;
	bottom: 50px;
}

div#bot h2#quote {
	font-size: 16pt;
	margin: 6px;
}

div#bot h4#sig {
	margin: 6px;
	text-align: right;
}